<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
      	<h3>Location Information</h3>
      </div>
      <div class="row">
       <div class="col col-offset-8">
      	<address>
      		<h4>Our Address</h4>
      		121, Clear Water Bay Road<br>
      		Clear Water Bar, Kowloon<br>
      		HONG KONG<br>	
      		<i class="icon ion-android-call"></i>: +852 1234 5678 <br>
      		<i class="icon ion-printer"></i>: +852 8765 4321 <br>
      		<i class="icon ion-email"></i> &nbsp;<a href="mailto:confusion@food.net">confusion@food.net</a>
      	</address>
       </div>
      </div>
      <div class="button-bar">
      		<button class="button button-positive icon-left ion-android-call">Call</button>
      		<button class="button button-calm icon-left ion-social-skype">Skype</button>
      		<button class="button button-balanced icon-left ion-email">Email</button>
      	</div>   	
    </div>
  </ion-content>
</ion-view>